:root {
  --container-width: 1100px;
  --gap: 16px;
  --bg: #30343b;
  --text: rgb(48, 165, 233);
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "Fira Code", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  color: var(--text);
  background: var(--bg);
}

.container {
  max-width: 100%;
  margin: 0 0;
  padding: 16px 16px;
}

.container-about {
  max-width: 70%;
  margin: 0 0;
  padding: 16px 16px;
}

.header-inner {
  display: flex;
  background-color: #292f36;
  align-items: center;
  justify-content: start;
  gap: 80px
}

.header-inner:hover {
  background-color: #353c44;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.nav-list a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.nav-list a:hover {
  color: #eee;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(48, 165, 233);
}

.section {
  padding: 60px 0;
}

.projects-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.project-card {
  padding: 16px;
  border: 1px solid #eee;
  border-radius: 8px;
}

.logo-img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 3px solid rgb(48, 165, 233);
  box-shadow: 0 0 10px rgba(48, 165, 233, 0.6);
}

footer {
  padding: 24px 0;
  text-align: center;
  border-top: 1px solid #f0f0f0;
}

main {
  flex: 1;
}

@media (min-width: 320px) {
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: "Fira Code", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    color: var(--text);
    background: var(--bg);
  }

  .container {
    max-width: 100%;
    margin: 0 0;
    padding: 16px 16px;
  }

  .container-about {
    max-width: 70%;
    margin: 0 0;
    padding: 16px 16px;
  }

  .header-inner {
    display: flex;
    background-color: #292f36;
    align-items: center;
    justify-content: space-between;
    gap: 10px
  }

  .header-inner:hover {
    background-color: #353c44;
  }

  .nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 0;
    padding: 0;
  }

  .nav-list a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    font-size:small;
  }

  .nav-list a:hover {
    color: #eee;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(48, 165, 233);
  }

  .section {
    padding: 60px 0;
  }

  .projects-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }

  .project-card {
    padding: 16px;
    border: 1px solid #eee;
    border-radius: 8px;
  }

  .logo-img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 3px solid rgb(48, 165, 233);
    box-shadow: 0 0 10px rgba(48, 165, 233, 0.6);
  }

  footer {
    padding: 24px 0;
    text-align: center;
    border-top: 1px solid #f0f0f0;
  }
}

@media (min-width: 425px) {
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: "Fira Code", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    color: var(--text);
    background: var(--bg);
  }

  .container {
    max-width: 100%;
    margin: 0 0;
    padding: 16px 16px;
  }

  .container-about {
    max-width: 70%;
    margin: 0 0;
    padding: 16px 16px;
  }

  .header-inner {
    display: flex;
    background-color: #292f36;
    align-items: center;
    justify-content: space-between;
    gap: 10px
  }

  .header-inner:hover {
    background-color: #353c44;
  }

  .nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }

  .nav-list a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    font-size: medium;
  }

  .nav-list a:hover {
    color: #eee;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(48, 165, 233);
  }

  .section {
    padding: 60px 0;
  }

  .projects-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }

  .project-card {
    padding: 16px;
    border: 1px solid #eee;
    border-radius: 8px;
  }

  .logo-img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 3px solid rgb(48, 165, 233);
    box-shadow: 0 0 10px rgba(48, 165, 233, 0.6);
  }

  footer {
    padding: 24px 0;
    text-align: center;
    border-top: 1px solid #f0f0f0;
  }
}

@media (min-width: 768px) {
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: "Fira Code", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    color: var(--text);
    background: var(--bg);
  }

  .container {
    max-width: 100%;
    margin: 0 0;
    padding: 16px 16px;
  }

  .container-about {
    max-width: 70%;
    margin: 0 0;
    padding: 16px 16px;
  }

  .header-inner {
    display: flex;
    background-color: #292f36;
    align-items: center;
    justify-content: space-between;
    gap: 80px
  }

  .header-inner:hover {
    background-color: #353c44;
  }

  .nav-list {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
  }

  .nav-list a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    font-size:x-large;
  }

  .nav-list a:hover {
    color: #eee;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(48, 165, 233);
  }

  .section {
    padding: 60px 0;
  }

  .projects-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }

  .project-card {
    padding: 16px;
    border: 1px solid #eee;
    border-radius: 8px;
  }

  .logo-img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 3px solid rgb(48, 165, 233);
    box-shadow: 0 0 10px rgba(48, 165, 233, 0.6);
  }

  footer {
    padding: 24px 0;
    text-align: center;
    border-top: 1px solid #f0f0f0;
  }
}

@media (min-width: 1024px) {
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: "Fira Code", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    color: var(--text);
    background: var(--bg);
  }

  .container {
    max-width: 100%;
    margin: 0 0;
    padding: 16px 16px;
  }

  .container-about {
    max-width: 70%;
    margin: 0 0;
    padding: 16px 16px;
  }

  .header-inner {
    display: flex;
    background-color: #292f36;
    align-items: center;
    justify-content: start;
    gap: 80px
  }

  .header-inner:hover {
    background-color: #353c44;
  }

  .nav-list {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
  }

  .nav-list a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    font-size: larger;
  }

  .nav-list a:hover {
    color: #eee;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(48, 165, 233);
  }

  .section {
    padding: 60px 0;
  }

  .projects-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }

  .project-card {
    padding: 16px;
    border: 1px solid #eee;
    border-radius: 8px;
  }

  .logo-img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 3px solid rgb(48, 165, 233);
    box-shadow: 0 0 10px rgba(48, 165, 233, 0.6);
  }

  footer {
    padding: 24px 0;
    text-align: center;
    border-top: 1px solid #f0f0f0;
  }
}

@media (min-width: 2560px) {
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: "Fira Code", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    color: var(--text);
    background: var(--bg);
  }

  h1 {
    font-size: 80px;  
  }

  h2 {
    font-size: 50px;
  }

  p {
    font-size: 45px;
  }

  .container {
    max-width: 100%;
    margin: 0 0;
    padding: 16px 16px;
  }

  .container-about {
    max-width: 70%;
    margin: 0 0;
    padding: 16px 16px;
  }

  .header-inner {
    display: flex;
    background-color: #292f36;
    align-items: center;
    justify-content: start;
    gap: 80px
  }

  .header-inner:hover {
    background-color: #353c44;
  }

  .nav-list {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
  }

  .nav-list a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    font-size: xx-large;
  }

  .nav-list a:hover {
    color: #eee;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(48, 165, 233);
  }

  .section {
    padding: 60px 0;
  }

  .projects-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }

  .project-card {
    padding: 16px;
    border: 1px solid #eee;
    border-radius: 8px;
    font-size: 40px;
  }

  .logo-img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 3px solid rgb(48, 165, 233);
    box-shadow: 0 0 10px rgba(48, 165, 233, 0.6);
  }

  footer {
    padding: 24px 0;
    text-align: center;
    border-top: 1px solid #f0f0f0;
  }
}