<div class="flex min-w-full justify-center">
    <form 
    class="bg-[#0E0F0D]/80 flex flex-col rounded-2xl items-center" 
    action="https://formspree.io/f/mqarljwd"
    method="POST"
    >
        <input class="w-[80%] p-4 bg-[#8A8F8B] m-10 rounded-2xl border-black font-bold text-[#FFFCF5]" placeholder="E-mail" type="email" name="email">
    
        <textarea class="w-[80%] p-4 bg-[#8A8F8B] m-10 rounded-2xl border-black font-bold text-[#FFFCF5]" placeholder="Your idea" name="message"></textarea>
    
    <!-- your other form fields go here -->
    <button class="p-2 m-10 w-[50%] bg-[#FFFCF5] rounded-2xl hover:bg-[#E4E0D7] text-[#1E201D]" type="submit">Send</button>
    </form>
</div>